<template>
  <div class="container">
    <div class="alert alert-danger" v-if="errors" v-for="error in errors" v-bind:key="error" v-on:click="errors.splice(0, 1)">
      <p>{{error}}</p>
      <small>Click to close</small>
    </div>
    <div class="form-group row">
      <img src="../assets/adwords.png" v-bind:class="{ gray: params.adwords === false }" v-on:click="select('adwards')">
      <img src="../assets/bing.png" v-bind:class="{ gray: params.bingads === false }" v-on:click="select('bingads')">
      <img src="../assets/facebook.png" v-bind:class="{ gray: params.facebookads === false }"
           v-on:click="select('facebookads')">
      <input type="text" class="form-control-sm text-right" placeholder="search" v-model="search">
      <input type="button" class="btn btn-danger" value="v" v-if="!collapse.all" v-on:click="collapse.all = true">
      <input type="button" class="btn btn-success" value=">" v-if="collapse.all" v-on:click="collapse.all = false">
    </div>
    <ul class="list-group">
      <li v-for="user in users"  v-bind:key="user.id" class="list-group-item">
        <span class="h2">{{user.name}}</span>
        <div v-if="!isCollapsed(user.id)">
          <input type="button" class="btn btn-danger" value="v" v-on:click="push(user.id)">
          <div class="row">
            <div v-if="user.facebookads" class="col">
              <div class="row h3">Facebookads</div>
              <div class="row">Budget: {{user.facebookads.budget}}</div>
              <div class="row">Cost: {{user.facebookads.cost}} ({{calculate(user.facebookads.budget,
                user.facebookads.cost)}}%)
              </div>
              <div class="row">Conversions: {{user.facebookads.conversions}}</div>
              <div class="row">CPA: {{calculate(user.facebookads.conversions, user.facebookads.conversions)}}</div>
            </div>
            <div class="w-10"></div>
            <div v-if="user.adwords" class="col">
              <div class="row h3">Adwords</div>
              <div class="row">Budget: {{user.adwords.budget}}</div>
              <div class="row">Cost: {{user.adwords.cost}} ({{calculate(user.adwords.budget, user.adwords.cost)}}%)
              </div>
              <div class="row">Conversions: {{user.adwords.conversions}}</div>
              <div class="row">CPA: {{calculate(user.adwords.conversions, user.adwords.conversions)}}</div>
            </div>
            <div class="w-10"></div>
            <div v-if="user.bingads" class="col">
              <div class="row h3">Bingads</div>
              <div class="row">Budget: {{user.bingads.budget}}</div>
              <div class="row">Cost: {{user.bingads.cost}} ({{calculate(user.bingads.budget, user.bingads.cost)}}%)
              </div>
              <div class="row">Conversions: {{user.bingads.conversions}}</div>
              <div class="row">CPA: {{calculate(user.bingads.conversions, user.bingads.conversions)}}</div>
            </div>
          </div>
        </div>
        <div v-else>
          <input type="button" class="btn btn-success" value=">" v-on:click="splice(user.id)">
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios'
import 'bootstrap/dist/css/bootstrap.css'

export default {
  name: 'Dashboard',
  data () {
    return {
      search: '',
      params: {
        adwords: true, bingads: true, facebookads: true
      },
      collapse: {all: false, exp: [], col: []},
      data: [],
      errors: []
    }
  },
  methods: {
    // Getting data from API
    loadData () {
      var self = this
      axios.get('https://frontendtask.appspot.com/api/clients', {
        params: {
          source: this.getParams(),
          name: 'sergey_serov'
        }
      })
        .then(response => {
          self.data = response.data
        })
        .catch(error => {
          self.errors.push(error)
        })
    },
    // Calculating CPA and budget/cost
    calculate (val1, val2) {
      if (val1 !== 0 && val2 === 0) {
        return 100
      }
      let result = val1 / val2
      if (!result) {
        return 0
      } else {
        return Math.round(result * 100) / 100
      }
    },
    // Changing params for the http request (adwords,bingads,facebookads)
    select (type) {
      let error = 'At least one button must be selected at all times.'
      if (type === 'adwards') {
        if (this.params.bingads || this.params.facebookads) {
          this.params.adwords = !this.params.adwords
        } else {
          if (!this.errors.includes(error)) {
            this.errors.push(error)
          }
        }
      }
      if (type === 'bingads') {
        if (this.params.adwords || this.params.facebookads) {
          this.params.bingads = !this.params.bingads
        } else {
          if (!this.errors.includes(error)) {
            this.errors.push(error)
          }
        }
      }
      if (type === 'facebookads') {
        if (this.params.adwords || this.params.bingads) {
          this.params.facebookads = !this.params.facebookads
        } else {
          if (!this.errors.includes(error)) {
            this.errors.push(error)
          }
        }
      }
      if (this.params.adwords || this.params.bingads || this.params.facebookads) {
        this.loadData()
      }
    },
    // Checking if for given user need to be displaying all the info
    isCollapsed (id) {
      if (this.collapse.all) {
        if (this.collapse.exp.includes(id)) {
          return false
        } else {
          return true
        }
      } else {
        return this.collapse.col.includes(id) === true
      }
    },
    // Checking for duplicates and pushing users's id, that need to be collapsed
    push (id) {
      if (!this.collapse.col.includes(id)) {
        this.collapse.col.push(id)
      }
      if (this.collapse.all) {
        var index = this.collapse.exp.indexOf(id)
        if (index > -1) {
          this.collapse.exp.splice(index, 1)
        }
      }
    },
    // slicing  users's id, that need to be expand
    splice (id) {
      var index = this.collapse.col.indexOf(id)
      if (index > -1) {
        this.collapse.col.splice(index, 1)
      }
      if (this.collapse.all) {
        this.collapse.exp.push(id)
      }
    },
    // Getting params and converting them to string
    getParams () {
      let arr = []
      if (this.params.adwords) {
        arr.push('adwords')
      }
      if (this.params.bingads) {
        arr.push('bingads')
      }
      if (this.params.facebookads) {
        arr.push('facebookads')
      }
      return arr.join()
    }
  },
  // Loading data as soon as document created
  created () {
    this.loadData()
  },
  // Search
  computed: {
    users () {
      return this.data.filter(user => {
        return user.name.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }
}
</script>

<style scoped>
  img {
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  .gray { filter: grayscale(100%); }
</style>
